.claude/settings.local.json
.idea/
.phpunit/
.phpunit.cache/
.vscode/
build/
docker/
infection/
phpunit/
phpunit.cache/
vendor/
vendor.*/
.env
.phpunit.result.cache
composer.lock
infection.json
phpcs.xml
phpstan.neon
phpunit.xml
tests/Unit/ManualTest.php
todo.txt
todo*.txt
update-steps.txt
z_*
